# Node
/node_modules
npm-debug.log
yarn-error.log

# Android
/android/app/build
/android/build
/android/.gradle
/android/gradle/build
/android/app/src/main/assets/index.android.bundle
/android/app/src/main/res/drawable-*
/android/app/src/main/res/raw/
*.apk
*.aab

# iOS
/ios/build

# Outros
.DS_Store
